
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Shopping</title>

    <link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">
    
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-sS1nGIzgKnR3z/QjWZm54dZl7hZWuHoFiFwZgoU+zdSAOZJ4nXTRSQkQqZiaD9Yki4s8g6m84HI8kjX9f/1kpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]--> 
</head>

<body class="home">
    {% block content %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >


   
            <div class="container">
                <div class="navbar-header">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Shopping"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="#">Home</a></li>
                       
                        <li><a href="{% url 'index' %}">Produits</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Left Sidebar</a></li>
                                <li class="active"><a href="#">Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                       
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
		
			
			
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
				
				<p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button" href="{% url 'index' %}">SHOP NOW</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Discover the Best Deals and Products Here</h2>
		<p class="text-muted">
			Explore our vast selection of high-quality products at unbeatable prices. Your ultimate shopping destination is just a click away!
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Reasons to use this site</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Powered by Bootstrap</h4></div>
					<div class="h-body text-center">
						 <p>Our website is built using Bootstrap framework, ensuring a seamless and responsive shopping experience across all devices.</p></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Lightweight</h4></div>
					<div class="h-body text-center">
						
						<p>Enjoy fast loading times and smooth navigation with our lightweight design. Shop effortlessly without any delays.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Quality Guaranteed</h4></div>
					<div class="h-body text-center">
						<p><p>We are committed to providing only the best products, curated with care to meet your expectations and beyond.</p></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Customer support</h4></div>
					<div class="h-body text-center">
						<p><p>Our dedicated support team is here to assist you with any inquiries or concerns. Your satisfaction is our priority.</p> </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">FAQs</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3 color:"red">What payment methods do you accept?</h3>
				<p>We accept a variety of payment methods including credit/debit cards, PayPal, and more. Rest assured, your transactions are secure with us.</p>
			</div>
			</div>
			
				<div class="col-sm-6">
					<h3>Do you offer international shipping?</h3>
					<p>Yes, we ship globally to ensure that customers worldwide can enjoy our products. Check our shipping policies for more information.</p>
				</div>
		
			
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Is there a return policy?</h3>
				<p>We have a hassle-free return policy. If you're not completely satisfied with your purchase, you can return it within a specified period for a full refund or exchange.</p>
			</div>
			<div class="col-sm-6">
				<h3>How can I track my order?</h3>
				<p>Once your order is shipped, you'll receive a tracking number via email. Use this number to track your order status and estimated delivery date.</p>
			</div>
		</div> <!-- /row -->
	    
		<div class="jumbotron top-space">
			<h4>Shop with confidence and discover amazing deals on our platform. Start exploring now!</h4>
			<p class="text-right"><a class="btn btn-primary btn-large"  href="{% url 'index' %}">Browse Products »</a></p>
		</div>
		</div> <!-- /row -->

		

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="#">About</a> |
								<a href="#">Sidebar</a> |
								<a href="#">Contact</a> |
								<form action="{% url 'logout' %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary">Sign up</button>
								</form>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/headroom.min.js' %}"></script>
    <script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    {% endblock %}
</body>

</html>